.logo {
    height: 100px;
    width: 120px;
    margin-left: 20px;
    margin-top: 20px;
    background-image: url("https://lh3.googleusercontent.com/pw/AP1GczP-hnvNVwRS7Ye1IexpLAicSd2ns-hjQlpUkLvozpFX8yiit6VikO-nZ4YQugq0aQvL90MyegEvQtpXURHUh7nEx7VHIhSK4AWw5Dqx_VP8CaDGf_Q=w2400");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  
  .row {
    display: flex;
  }
  ul {
    display: flex;
  }
  .home {
    list-style-type: none;
    margin-top: 65px;
  }
  .divinevision { 
    list-style-type: none;
    margin-top: 65px;
    margin-left: 25px;
  }

  a {
    font-family: century gothic; 
  }

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.me {
    display: block; 
    width: 420px;
    margin-left: 20px;
    margin-top: -30px;
}

h1 {
    font-size: 55px;
    margin-left: 45px;
    margin-top: 20px;
    font-family: century gothic; 
}

.aboutme {

    margin-top: -529px;
    margin-left: 500px;
   
}

.back{ 
    font-weight: bold; 
    font-size: 30px;
    font-family: century gothic; 
    margin-top: 20px;
}

.main {

    font-weight: bold; 
    font-size: 30px;
    font-family: century gothic; 
    margin-top: 60px;
}

.pp {
    font-family: century gothic; 
    margin-top: 20px;
}